{
    "extends": "eslint-config-airbnb",
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "setupTestFramework.js",
                    "testSetup.js",
                    "**/*.test.js",
                    "**/*.spec.js"
                ]
            }
        ]
    }
}
